body {
  margin: 0;
  padding: 0;
}

#top-panel {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  height: 100vh;

  overflow-y: none;
}

#chooser-panel {
  height: 6vh;

  display: flex;
  flex-direction: row;

  background-color: darkgray;
}

.chooser-button {
  height: 6vh;
  width: 4vw;
  font-size: 3vh;
  margin-left: 1vw;
  margin-right: 1vw;
}

.chooser-value {
  font-size: min(2.5vh, 1.7vw);
  border-width: 2px;
  margin-left: 0;
  margin-right: 1vw;
  background-color: #f0f0f0;

  display: flex;
  align-items: center;
}

#data-dir-path {
  width: 35vw;
}

#image-file-path {
  width: 25vw;
}

#text-file-path {
  width: 25vw;
}

#edited-text-file-path {
  width: 30vw;
}

#image-panel {
  padding: 0;
  border: 4px;
  height: 46vh;
  overflow-y: auto;
}

#image {
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 0;
  width: 90vw;
  overflow-x: scroll;
  overflow-y: scroll;
}

#image-hilite {

  top: 0px;
  left: 5vw;
  width: 90vw;
  height: 50px;
  pointer-events: none;
  background-color: aquamarine;
  z-index: 1;
  position: absolute;
  opacity: 20%;
}

#text-panel {
  margin: 0;
  padding: 0;

  width: 90vw;
  height: 46vh;

  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color:lavender;
  border-width: 4px;
  border-color: black;
}

#text-container {
  height: 100%;
  overflow-y: scroll;

  white-space: nowrap;
  overflow-x: scroll;
}

.line-div {
  font-size: min(28px, 2.1vw);
  line-height: 50px;

  white-space: nowrap;
  overflow-x: hidden;
}

.hilite {
  background-color: bisque;
}

#lower-panel {
  display: flex;
  flex-direction: row;
}

#icon-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  width: 5vw;
  height: 67%;
}

.icon {
  width: 4vh;
  height: 4vh;
  display: block;
  margin: 0;
  padding: 0;

  border: none;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
  cursor: pointer;
  font-size: 2vh;
}

.icon.active {
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
  background-color: #ddd;  
}

#settings-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  width: 5vw;
  height: 50%;
  margin-top: 0;
  margin-bottom: auto;
}

#speech-speed {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4vw;
}

#speech-speed-icon {
  width: 1.5vw;
  height: 1.5vw;
}

#speech-speed-spin-box {
  margin-top: 0.25vw;
  width: 3.5vw;
  height: 1.5vw;
}

#speech-interline-pause {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4vw;
}